@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700;900&family=Urbanist:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Lexend Deca', sans-serif;*/
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 15rem;
}

main h2 {
  font-size: 3rem;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 6rem;
}

main h2 .icons {
  color: #68b984;
}

/*===================*/
/*navbar styling */
/*====================*/

nav {
  width: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2rem solid #ccc;
}

nav a {
  font-size: 2.1rem;
  font-family: "Lexend Deca", sans-serif;
  color: #828282;
  border-bottom: 0.4rem solid transparent;
}

nav a:hover {
  border-color: #68b984;
}

nav a.active {
  color: #000;
  border-color: #68b984;
}

/*===================*/
/*Form  styling */
/*====================*/

.selectAllContainer {
  margin-bottom: 2rem;
}

.selectAll {
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  color: #3a3845;
  font-weight: bold;
  margin: 0px 0px 0px 10px;
}

.deleteAllContainer {
  margin-top: 2.5rem;
}

.deleteAll {
  padding: 0.8rem 1rem;
  width: 10rem;
  background-color: #ff077f;
  color: #fff9f9;
  border: none;
  display: inline-block;
  cursor: pointer;
  justify-self: center;
  letter-spacing: 0.1rem;
}

.deleteMultiple {
  padding: 0.8rem 1rem;
  width: 15rem;
  background-color: #ff077f;
  color: #fff9f9;
  border: none;
  display: inline-block;
  cursor: pointer;
  justify-self: center;
  letter-spacing: 0.1rem;
}

form input {
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  width: 45rem;
  margin: 4rem 0;
  user-focus: none;
  padding: 0.8rem 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.09rem;
  font-weight: bold;
}

form button {
  padding: 1rem 2.8rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 2.4rem;
  background-color: green;
  color: #fff;
}

form button:hover {
  background-color: #009200;
}

label {
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  color: #3a3845;
  font-weight: bold;
}

/*===================*/
/*todo task list */
/*====================*/

.main-task li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 50rem;
  min-height: 6rem;
  border-bottom: 0.1rem solid #ccc;
}

.main-task li:first-child {
  border-top: 0.1rem solid #ccc;
}

.main-task li:hover {
  background-color: #fef2f2;
}

.main-task li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #d14d72;
}

.main-task li input:hover {
  cursor: pointer;
}

.main-task li .editButton {
  background-color: #5579c6;
}

.main-task li button {
  padding: 0.6rem 1rem;
  width: 7rem;
  background-color: #d14d72;
  color: #fff9f9;
  border: none;
  display: inline-block;
  cursor: pointer;
  justify-self: center;
  letter-spacing: 0.1rem;
}
